.breadcrumbs {
    font-size: 0.95rem;
    color: #007bff;
    margin: 1.5rem 2rem 0;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.breadcrumbs a {
    color: #00b0ea;
    text-decoration: none;
    transition: 0.3s;
}

.breadcrumbs a:hover {
    text-decoration: underline;
    color: #0096cc;
}

.breadcrumbs i {
    font-size: 0.8rem;
}