@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply transition-colors duration-300;
  }
  body {
    @apply m-0 font-sans antialiased bg-stone-50 dark:bg-zinc-950 overflow-x-hidden text-black dark:text-zinc-100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body.dark {
    color-scheme: dark;
  }

  code {
    @apply font-mono;
  }

  /* Selection */
  ::selection {
    @apply bg-black/10 dark:bg-white/10;
  }
}

/* Hide scrollbar for all browsers */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
